<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</head>
<body>

    <h3>News</h3>
    {% if news_title_list%}
     <table>
         <tr>
            <th>date</th>
            <th>title</th>
            <th>content</th>
            <th>author</th>
         </tr>
         {% for news in news_title_list %}
         <tr>
            <td>{{news.created_date}}</td>
            <td>{{news.title}}</td>
            <td>{{news.content}}</td>
            <td>{{news.author}}</td>
         </tr>
         {% endfor %}
     </table>
    {% else %}
        <p> No News</p>
    {% endif %}
    <button onclick="goBack()" class="btn btn-warning">back</button>

    <script type="text/javascript">
        function goBack(){
            window.history.go(-1);
        }
    </script>
</body>
</html>