<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>

    <h3>News</h3>
    {% if news_title_list%}
     <table>
         <tr>
            <th>date</th>
            <th>title</th>
            <th>content</th>
            <th>author</th>
         </tr>
         {% for news in news_title_list %}
         <tr>
            <td>{{news.created_date}}</td>
            <td>{{news.title}}</td>
            <td>{{news.content}}</td>
            <td>{{news.author}}</td>
         </tr>
         {% endfor %}
     </table>
    {% else %}
        <p> No News</p>
    {% endif %}
    <button onclick="goBack()">back</button>

    <script type="text/javascript">
        function goBack(){
            window.history.go(-1);
        }
    </script>
</body>
</html>