<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</head>
<body>
<h1>Credo</h1>
<p>私たちGDIコミュニケーションズの社員は

「グローバル・ビジネス・パーソン」として単に

ビジネスをするだけでなく、その活動によって

世界中に笑顔を作り、国際社会の未来のために

必要な解決策と仕組みを提供することを

宣言します。



最前線でグローバルに活躍するからこそ

道徳心を第一に掲げ、利他主義を追求します。



人のために、地球のために一層の努力を重ね、

    組織力と技術力を磨き続けます。</p>


<br>
<ol>1.Theme & Happiness
<br>
生きるテーマと楽しさは、人の道を豊かにするために必要なエッセンス。私たちはすべての仕事にこの要素を加えることを常に心がけます。そして実力を示すための確固たる意志を仲間とともに育みます。人間としての幸福を感じることができれば私たちの事業活動が環境・社会・経済に与える影響をより持続可能（サステナブル）なものへとさせ、より具体的な解決策へ、より地球規模な活動へ繋がると信じています。人の道の豊かさを追求することは、社会の豊かさにつながり、地球愛に変わる。そのための自己研鑚を常に忘れず、なぜ私は働くのかその真理を探求し続けます。
</ol>


<ol>2.Freewill
<br>
想像できるすべてが実現可能。イメージを膨らませたその瞬間に、社会が変わるアイデアが生まれるかもしれない。人間として威風堂々と尊厳を表現し、大きく良い方向へ物事を動かしたければ良心に従い、”Freewill－自由意志”を追求すればいい。私たちは人を尊重し、思いやり、一瞬一瞬を自分の意志で選択して生きています。自由意志から生まれるイノベイティブなアイデアこそ地球全体の繁栄につながり、より良い世界へと変貌を遂げると信じています。
</ol>


<ol>3.Morality
<br>
働き方（目標、時間、場所、報酬）を自由に決められる環境を真に体現している私たち。これは組織や仲間が積み重ねてきた”絶え間ない努力”の賜物。組織は、一人ひとりのモラルの集合体であり、個人の身勝手な行動でいとも簡単にバランスが崩壊してしまうことを理解しています。だからこそ、常にモラリティ高くし、すべてのステークホルダーを大切にし、チームワークを尊守することを誓います。
</ol>


<ol>4.Now or Never
<br>
大いなる成功には常にリスクが伴うことを胸に刻み、失敗を恐れず、勇気をもって挑戦し続けます。できない理由を探したり、失敗の言い訳を考えるのではなく未来の成功に胸を躍らせる人物となります。今やるのか、一生やらないのか。自分を信じ、同調社会に惑わされず、恐れず、自由意志をもって導き出したアイデアを実現させることを誓います。
</ol>


<ol>5.Completing
<br>
真のプロフェッショナルとして日々誰もができる単純なことを当たり前のように継続し、高い目標を掲げ、計画を立て完遂する。流れに身を任せて何もしなければ、当然何も起こらないということを知っています。一見すると実現不可能と見える目標でも、私たちはそれを達成できると信じています。なぜなら、そのために必要なものは何か、私たちは経験から学んでいるからです。それは、同じ志を持った仲間「同志」です。
</ol>

<p>――One day One Smile ☺︎ なんらかのアクションを起こすことで、だれかを笑顔にHappyにさせること。それが私たちの日々のゴールです。</p>
<button onclick="goBack()" class="btn btn-warning">back</button>

    <script type="text/javascript">
            function goBack(){
                window.history.go(-1);
            }
    </script>
</body>
</html>